@import url(https://fonts.googleapis.com/css?family=Share:400,700&subset=latin,latin-ext);

html {
    font: 0.75em/1.5 sans-serif;
    /*background: #000;*/
	height: 100%;
}

ul {
  background: #000;
}

body {
  transition: background 1s ease;
  background: #000;
}

/**
 * Tabs object.
 *
 * 1. Tables (kinda) for layout!
 * 2. This is the magic bit; make all children occupy equal width.
 * 3. Required to make the tabs fill their container.
 * 4. Make each tab pack up horizontally.
 * 5. Ensure the hit area covers the whole tab.
 */
.tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
}

    .tabsItem {
        width: 100%;
        float: left;
    }

    @media screen and (min-width: 40em) {
        .tabsItem {
          display: table-cell; /* [4] */
          float: none;
          width: auto;
        }
    }
        .tabsLink {
            display: block; /* [5] */
        }

/**
 * Primary nav. Extends `.tabs`.
 *
 * 1. Stop tabs’ corners leaking out beyond our 4px round.
 */
 
 .nav-collapse {
	  position: fixed;
    top: 0px;
    width: 100%;
 }
 
.primary-nav {
    text-align: center;
    border-radius: 0;
    overflow: hidden; /* [1] */
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
        .primary-nav a {
            padding: .75em 1em;
            color: white;
            background: rgba(255, 255, 255, 0.1);
            color: #fff;
            text-decoration: none;
            border-right: 1px solid #000;
            font-family: Share, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 1.75em;
        }

        .primary-nav a:hover {
            color: black;
            background: #f8d000;
        }

.primary-nav a.tabsLink.selected {
  color: black;
  background: #f8d000;
}

.well {
    font-size: 1.3em;
	font-family: Share, Helvetica, Arial, sans-serif;
	margin: 10%;
	word-wrap: break-word;
}

.tooltip-inner {
    white-space:pre-wrap; 
	text-align: left !important;
}

#firstWell {
	background: #B71C1C;
}

#secondWell {
	background: RoyalBlue;
}

footer {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, black, #f8d000, black);
}